/* Importation de liens prime react */
@import "primereact/resources/themes/lara-light-indigo/theme.css";
/* Thème */
@import "primereact/resources/primereact.min.css";
/* Composants */
@import "primeicons/primeicons.css";
/* Icônes */


/* DropZone Style */

.dropzone-dashed {
  border: 2px dashed #ccc;
  /* Bordure pointillée */
  background-color: #f8f9fa;
  /* Fond clair */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: border-color 0.3s ease-in-out;
}

.dropzone-dashed:hover {
  border-color: #007bff;
  /* Couleur bleue au survol */
}

/* Style de page inscription */
.logo {
  text-shadow: 1px 1px 1px black;
  color: rgb(74, 255, 46);
}

#inscription-acheteur {
  background: rgb(128, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

#banniere-inscription-acheteur {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/login2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 700px;
}

.bg-inscription {
  background-color: white;
  height: 105vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control:focus {
  box-shadow: none !important;
  /* Supprime l'ombre */
  border-color: inherit !important;
  /* Conserve la bordure par défaut */
}

.titre-inscription {
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  color: rgb(37, 187, 0);
  font-size: 45px;
  font-weight: bolder;
  font-family: cursive;
}

#description-Inscription {
  background-color: rgba(0, 0, 0, 0.367);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  transition: all 0.5s ease;
}

/* Loading Page */
#div-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* style Inscription pour les vendeurs */

#inscription-vendeur {
  background: darkgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125vh;
}

#banniere-inscription-vendeur {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/sign-in3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 700px;
}

.bg-inscription-vendeur {
  background-color: white;
  height: 110vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************************* Style de login *******************************/
/* syle login acheteur */

.login-form {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000001c;
  background-color: white;
}

.login-banniere-achateur {
  height: 70vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/sign-in2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
}

.bg-login {
  background-color: rgba(188, 188, 188, 0.458);
  height: 100vh;
}


/* All Product */
.icon-search {
  background: #ffffff00;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right-color: rgba(255, 255, 255, 0);
}

.form-style {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left-color: transparent;
}

.form-style:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #ccc;
}

#nav {
  display: flex;
  justify-content: space-evenly;
}

@media(max-width:992px) {
  #banniere-inscription {
    display: none
  }

  #inscription-vendeur {
    background-color: white;
  }

  #inscription-acheteur {
    background-color: white;
  }


  .bg-inscription,
  .bg-inscription-vendeur {
    border-radius: 5px;
    background-color: white;
    height: 115vh;
    width: 100%;
  }

  #banniere-inscription-vendeur {
    display: none;
  }

  #banniere-inscription-acheteur {
    display: none;
  }

  .inscription {
    background: white;
    padding: 0;
  }

  .login-banniere-achateur {
    display: none;
  }

  .login-form {
    border: none;
    height: 100vh;
    width: 100%;
  }
}